/* Testing CSS styles */
/* *{
  margin: auto;
  padding: 0;
} */

body{
  background-color: #FFFFFF;
  color: #000000;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-weight: 300;
  /* Same as above:
  font: 400 15px Verdana, Geneva, sans-serif; */
  line-height: 1.2em;
}

a{
  text-decoration: none;
}

a:hover{
  color:green;
}

a:visited{
  color: red;
}

/* Div "container" */
.container{
  width: 90%;

  /* Margin is outside a box */
  margin: auto;
  margin-top: 10px;
}

/* Div box-1 */
.box-1{
  background-color: #222;
  color: #FFF;

  /* Border of a object box */
  /* border: 5px blue dotted; */
  border-right: 5px red double;

  /* Padding is inside an object box
  Also possible with top, left etc. */
  padding: 10px

}

/* Applies for all h1's */
h1{
  font-family: Helvetica;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 200;
}

.box-2{
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue;
  background-color: #99000090;
  border-style: dotted;
}

.categories{
  border: 1px #000 solid;
  padding: 0;
  border-radius: 10px;
}

.categories h2{
  text-align: left;
  padding-left: 17px;
}
.categories ul{list-style: circle}

.categories li{
  /* padding-bottom: 5px; */
  /* border-bottom: 1px dotted #333; */
  list-style-image: url('../images/checkmark.png');
}
